<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/slide1.jpg" alt="">
      <div class="container active">
        <div class="carousel-caption">
          <h1>MUÉVEME</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam maxime tempore possimus eveniet quod. Facilis vel quam quo accusamus enim velit, impedit reprehenderit iusto ipsam dolorem corporis rem cumque, nemo.</p>
          <p><a href="" class="btn btn-primary btn-large">entra hoy</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slide2.jpg" alt="">
      <div class="container active">
        <div class="carousel-caption">
          <h1>MUÉVEME</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam maxime tempore possimus eveniet quod. Facilis vel quam quo accusamus enim velit, impedit reprehenderit iusto ipsam dolorem corporis rem cumque, nemo.</p>
          <p><a href="" class="btn btn-primary btn-large">entra hoy</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slide3.jpg" alt="">
      <div class="container active">
        <div class="carousel-caption">
          <h1>MUÉVEME</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam maxime tempore possimus eveniet quod. Facilis vel quam quo accusamus enim velit, impedit reprehenderit iusto ipsam dolorem corporis rem cumque, nemo.</p>
          <p><a href="" class="btn btn-primary btn-large">entra hoy</a></p>
        </div>
      </div>
    </div>
  </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>





<!-- Intro: Start -->
<!-- La utilidad de este div con la identidad intro, es para contener a todo el container -->
 <div id="intro">
    <div class="container">
                
                <!-- Primera fila de tres columnas -->
      <div class="row">
        <div class="col-xs-3">
    <!-- Imagen responsive (adaptable a todas las pantallas). La imagen lleva una dirección corta porque está descargada en la misma carpeta donde está el programa -->
          <img class="img-responsive tpad" src="images/moveMe.png">
        </div>
              <!-- Segunda fila de nueve columnas (suman 12) -->
        <div class="col-xs-9">
          
              <!-- Texto con un H1 y un párrafo. La etiqueta span, es para poder atacarlo en CSS sin afectar a los demás h1 -->
          <h1>Muevete <span class="texto-claro">tu compañia</span></h1>
          <p class="lead">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>

        </div>
      </div>
    </div>

</div>

<!-- Intro: Fin -->

<!--contenido:start -->
  <div class="container padded">
    <div class="row">
      <div class="col-lg-12"><h2>CUATRO MODOS</h2><hr></div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <img src="images/speed.jpg" alt="" class="img-circle img-responsive">
        <h3>Velocidad</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quidem sapiente commodi, ea porro, omnis totam numquam possimus maxime eveniet et perspiciatis aliquam alias nihil temporibus libero eius aut Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quibusdam adipisci, quasi vero reiciendis inventore porro a ea numquam explicabo eum delectus accusamus sunt aperiam aliquid placeat expedita. Ipsam, iusto.</p>
        <p><a href="#" class="btn btn-default">Ver detalles &raquo;</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <img src="images/eco.jpg" alt="" class="img-circle img-responsive">
        <h3>Ecológico</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quidem sapiente commodi, ea porro, omnis totam numquam possimus maxime eveniet et perspiciatis aliquam alias nihil temporibus libero eius aut</p>
        <p><a href="#" class="btn btn-default">Ver detalles &raquo;</a></p>
      </div>
      <div class="clearfix hidden-md hidden-lg"></div>
      <div class="col-sm-6 col-md-3">
        <img src="images/scenic.jpg" alt="" class="img-circle img-responsive">
        <h3>Escénico</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quidem sapiente commodi, ea porro, omnis totam numquam possimus maxime eveniet et perspiciatis aliquam alias nihil temporibus libero eius aut</p>
        <p><a href="#" class="btn btn-default">Ver detalles &raquo;</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <img src="images/safety.jpg" alt="" class="img-circle img-responsive">
        <h3>Seguridad</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quidem sapiente commodi, ea porro, omnis totam numquam possimus maxime eveniet et perspiciatis aliquam alias nihil temporibus libero eius aut</p>
        <p><a href="#" class="btn btn-default">Ver detalles &raquo;</a></p>
      </div>
    </div>
  </div>
<!-- Contenido:end -->

<!-- Marketing:start -->
<div class="marketing">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img  class="img-responsive" src="images/app.png" alt="">
      </div>
      <div class="col-sm-6">
        
            <!-- Un título en H3 con una etiqueta hr que no se cierra, esta etiqueta nos hace una raya separadora que podemos atacar en CSS -->
        <h3>SIEMPRE A MANO</h3><hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quidem dolor ad enim quas, libero placeat quae nesciunt, aut accusantium perspiciatis praesentium doloribus officia architecto illum assumenda repellendus provident Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima laudantium blanditiis doloribus, eum quaerat praesentium possimus minus eaque impedit quia veniam porro enim aperiam odio facere ex, alias sit facilis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sunt, aliquid inventore, eveniet dicta perferendis pariatur, temporibus impedit odio a ab dolores tempore veniam magni. Et harum, eius ad laborum?</p>
        
            <!-- Botón de tipo primario, grande con texto dentro -->
        <a href="#" class="btn btn-large btn-primary">Quédatelo</a>
      </div>
    </div>
  </div>
</div>  
  <!-- Marqueting: fin -->


<!-- panel info: start -->

<!-- Este div de clase info sirve para contener a todo el container -->
<div class="info">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 tabbable">
            
            <!-- Menú tipo con pestañas. Hecho con listas desordenadas. La primera está activa. -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#android" data-toggle="tab">Android</a>
          </li>
          <li><a href="#bb" data-toggle="tab">Blackberry</a></li>
          <li><a href="#ios" data-toggle="tab">Ios</a></li>
          <li><a href="#win" data-toggle="tab">Windows</a></li>
        </ul>
              
            <!-- Aquí tenemos el contenido de cada pestaña (tab) -->
            <!-- Primero definimos las clases y la identidad (tiene que ser la misma que arriba. Ej: id="android" href="#android") -->
            <!-- Después ponemos la dirección de la imagen con la clase pull-right, con lo que empujamos la imagen a la derecha de la fila -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="android"><img src="http://www.userlogos.org/files/logos/drown/android1.png" class="pull-right" alt="" width="150px"><p>Android Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti blanditiis iste, magnam aut et ipsa sed soluta, alias totam perferendis iure rerum provident assumenda recusandae sint accusamus neque molestias Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sequi ratione aliquam. Quas voluptas alias nobis iure laudantium cupiditate expedita ipsa eligendi labore aperiam ipsum, officiis molestiae rerum neque deleniti! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, officiis dolorem! Eligendi incidunt ea modi accusamus asperiores eaque, quod doloremque consequatur soluta minima ex mollitia saepe earum dicta id hic.<br>   
                
            <!-- Dentro del párrafo, colocamos cuatro iconos en forma de estrella. -->
           <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>  </p></div>

          <div class="tab-pane fade in" id="bb"><img src="http://www.userlogos.org/files/logos/Rog/appworld.blackberry.com_031.png" class="pull-right" alt="" width="150px"><p>Blackberry</p></div>

          <div class="tab-pane fade in" id="ios"><img src="http://vignette2.wikia.nocookie.net/b__/images/4/44/IOS_logo.png/revision/20140708220822?path-prefix=bloons" class="pull-right" alt="" width="150px"><p>Ios</p></div>

          <div class="tab-pane fade in" id="win"> <img src="http://img1.wikia.nocookie.net/__cb20071106133151/freeciv/es/images/e/e0/Windows_logo.png"  class="pull-right"  alt="" width="150px"><p>Windows</p></div>
        </div>  
      </div>
    
      <div class="col-sm-4 col-sm-offset-2">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptatem at vero excepturi ut aspernatur molestias id repudiandae rem voluptatum officiis minima reprehenderit, amet neque itaque, ipsa velit iusto, perferendis?</p>
          <small>Lorem Lamas, <cite>me gusta</cite></small>
        </blockquote>
        
      </div>
    </div>
  </div>
</div>

<!-- panel info: fin -->